<br>
<h1>Welcome</h1>

<hr>

<form method = "POST" action = "/department/search">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input class="form-control" id="departmentId" name="departmentId" type="text" placeholder="Enter department id.."/>
                <br>
                <input type="submit" class="btn btn-primary float-right" value="Search Department"/>
            </div>
        </div>
    </div>
</form>

<hr>

<form method = "POST" action = "/employee/search">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input class="form-control" id="employeeNum" name="employeeNum" type="text" placeholder="Enter Employee Number.."/>
                <br>
                <input type="submit" class="btn btn-primary float-right" value="Search Employee"/>
            </div>
        </div>
    </div>
</form>